.scroll-fiche-city {
  overflow-y: scroll;
  height: 80vh;
}

.infos-iti {
  color: black;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;
}

.infos-iti p {
  margin: 0;
  display: flex;
  align-items: center;
  color: #414171;
  font-weight: 700;

  i {
    font-size: 18px;
    margin-right: 5px;
    color: black;
  }
}


.fiche-city-wrapper {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(#6F70EE, 0.21);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  z-index: 300;
  max-width: 90vw;
  width: 98%;
  margin-bottom: 10px;
}



.fiche-city-display {
  border-radius: 10px;
  transition: all 0.5s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  img {
    margin-right: 10px;
    margin-left: 10px;

    border-radius: 10px;
    object-fit: cover;
  }

}

.display-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}


.display-container {
  background-image: linear-gradient(rgba(200,200,200,0.3), rgba(200,200,200,0.3)), asset-url("carte.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  padding-top: 90px;

}


.city-display-name {
    transition: all 0.2s ease;
    color: black;
    font-weight: 700;
    margin: 0;
    font-size: 23px;
    padding: 6px 12px;
    color: #414171;
}

#created {
  color: black;
  margin: 0;
  padding: 6px 12px;
  font-size: 16px;
}

//for mobile
@media (max-width: 992px) {
  .fiche-city-wrapper {
    height: 22vh;
    margin-left: 8px;
  }

  .fiche-city-display {
    height: 22vh;

    img {
      height: 18vh;
      width: 18vh;
    }
  }
}

// for desktop
@media (min-width: 992px) {
  .fiche-city-wrapper {
    height: 30vh;
  }

  .fiche-city-display {
    height: 30vh;

    img {
      height: 25vh;
      width: 25vh;
    }
  }
}
