.choice-container {
    background: #36E672;
    width: 150px;
    border-radius: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 16px;
    padding-top: 2px;
    z-index: 3000;
}

.choice-container:hover {
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.2s ease;

}


#map-explics {
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

.page-explications {
  background-image: linear-gradient(rgba(216, 191, 216, 0.8), rgba(0, 0, 0, 0.5)), asset-url('carte.png');
  height: 100vh;
  width: 100vw;
  z-index: 190;
  display: flex;
  justify-content: space-around;
  background-size: cover;

  a {
    color: white;
    margin-bottom: 5px;
  }

  a:hover {
    color: $light-gray;
  }
}

.placement {
  position: absolute;
  height: 65vh;
  margin-top: 10px;
  h2 {
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 20px
  }
}

.encart {
  background-color: white;
  z-index: 550;
  height: 20vh;
  width: 95%;
  border-radius: 10px;
  // border: 1px solid rgba(#6F70EE, 0.21);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;

  display: flex;

  img {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);

  }
}


.text-explics {
  vertical-align: middle;
  display: flex;
  align-items: center;

  p {
    margin-bottom: 0px;
    color: #424272;
  }
}

#green-choice-explics {
  height: 100px;
  width: 200px;
  border-radius: 50px;
  background-color: #36E672;
}

.bouton-vert-container {
  height: 14vh;
  width: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouton-vert {
  border-radius: 50%;
  height: 12vh;
  width: 12vh;
  right: -40px;
  background-color: #34e879;
  top: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-arrow-right {
  color: white;
  font-size: 25px;
}

.fake-choice-maker {
  background: linear-gradient(90deg, rgba(124, 93, 241, 1), rgba(156, 10, 225, 1));
  width: 150px;
  height: 50px;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.0);
  }

}

.bouton-explics {
  img {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
  }
}


// For mobile
@media (max-width: 992px) {
.fake-choice-maker {
  width: 75px;
  height: 30px;
}

.placement {
  top: 124px;
}



.fake-choice-validate {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 18px;
    width: 18px;
    stroke-width: 1;
  }
}


.bouton-vert-container {
  height: 14vh;
  width: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .bouton-vert {
    border-radius: 50%;
    height: 9vh;
    width: 9vh;
  }


  #image-validate-explics {
    width: 28vw;
    height: 14vh;
    border-radius: 10px;
    margin-left: 10px;
  }

  #bouton-validate {
    width: 24vw;
    height: 14vh;
    border-radius: 10px;
    margin-left: 10px;
  }

  .encart {
    width: 68vw;
    height: 15vh;
  }

  .bouton-explics {
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-explics {
    width: calc(68vw - 50% - 20px);
    margin-right: 10px;
    flex: 1 0 auto;
  }

  .choice {
    position: absolute;
    bottom: 60px;
    z-index: 3000;
  }

  #logo {
    height: 9vh;
  }
}

 // For Desktop
@media (min-width: 992px) {

  .placement {
    top: 80px;
  }

  .fake-choice-validate {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 40px;
    width: 40px;
    stroke-width: 1;
  }
}

  .banner-typed-explication {
    color: white;
    padding: 10px;
  }


  #image-validate-explics {
    width: 12vw;
    height: 18vh;
    border-radius: 10px;
    margin-left: 2.75vw;
    border-radius: 10px;
  }

  .encart {
    width: 50vw;
  }

  .text-explics {
    width: calc(50vw - 35% - 10px);
    margin-right: 10px;
    flex: 1 0 auto;
  }

  #bouton-validate {
    width: 10vw;
    height: 18vh;
    border-radius: 10px;
    margin-left: 3.75vw;
    border-radius: 10px;
  }

  .bouton-explics {
    flex: 0 0 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
  }
  .choice {
  position: absolute;
  bottom: 30px;
  z-index: 3000;
  }

  #logo {
    height: 18vh;

  }
}
