.city-home-wrapper {
  width: 100vw;
}

.presentation-wrapper {
  background-image: linear-gradient(rgba(216, 191, 216, 0.7), rgba(255, 255, 255, 0.4)), asset-url('paris-2.jpg');
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  p {
    color: white
  }
}


// Specific CSS for your home-page
.home-wrapper {
  background-image: linear-gradient(rgba(216, 191, 216, 0.2), rgba(255, 255, 255, 0.4)), asset-url('fond.jpg');
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;

}

// for small devices but not mobile
@media only screen and (min-width: 768px) {
  .city-home-wrapper {
    height: 100vh
  }
}

// for desktop
@media (min-width: 992px) {
  .home-wrapper {
    height: 70vh;
    background-position: center;
  }

  .presentation-wrapper {
    height: 70vh;
    background-position:  top;


  }

  .city-home-wrapper {
    height: 70vh
  }
}

// for mobile
@media (max-width: 992px) {
  .home-wrapper {
    height: 50vh;
    background-position: center;
  }

  .presentation-wrapper {
    height: 35vh;

    h2 {
      font-size: 25px;
    }

  }

  .city-home-wrapper {
    height: 45vh
  }
}

.home-description {
  // background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  z-index: 300;

  h1 {
    color: white;
    font-weight: 700;
  }

  p {
    color: white;
  }
}


.available-cities {
  margin-top: 30px;
  margin-bottom: 10px;

  h1 {
    font-size: 32px;
    color: black;
    margin: 0;
    font-weight: 700;
  }
}

.home-presentation {
  display: flex;

}

