.city-home-wrapper {
  width: 100vw;
}

.presentation-wrapper {
  background-image: linear-gradient(rgba(216, 191, 216, 0.8), rgba(0, 0, 0, 0.5)), asset-url('paris-2.jpg');
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  p {
    color: white
  }
}


// Specific CSS for your home-page
.home-wrapper {
  background-image: linear-gradient(rgba(216, 191, 216, 0.2), rgba(255, 255, 255, 0.4)), asset-url('fond.jpg');
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;

}

// for small devices but not mobile
@media only screen and (min-width: 768px) {
  .city-home-wrapper {
    height: 70vh
  }
}

// for desktop
@media (min-width: 992px) {
  .home-wrapper {
    height: 70vh;
    background-position: center;

    h1 {
      font-size: 38px;
    }

    p {
      font-size: 25px
    }
  }

  .presentation-wrapper {
    height: 60vh;
    background-position:  top;
      p {
        font-size: 26px;
      }
  }

  .city-home-wrapper {
    height: 60vh
  }
  .available-cities {
    margin-top: 41px;
    margin-bottom: 16px;
    margin-left: 15px;

    h1 {
      font-size: 32px;
      color: black;
      margin: 0;
      font-weight: 700;
    }
  }
}


// for mobile
@media (max-width: 992px) {
  .home-wrapper {
    height: 42vh;
    background-position: center;
  }

  .presentation-wrapper {
    height: 35vh;

    h2 {
      font-size: 25px;
    }

  }

  .city-home-wrapper {
    height: 38vh
  }

  .available-cities {
  margin-top: 15px;
  margin-bottom: -2px;
  margin-left: 10px;

    h1 {
      font-size: 25px;
      color: black;
      margin: 0;
      font-weight: 700;
    }
  }
}

.home-description {
  // background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  z-index: 300;

  h1 {
    color: white;
    font-weight: 700;
  }

  p {
    color: white;
  }
}


.home-presentation {
  display: flex;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;

}

.container-flex {
  width: 40%;
}

