// Specific CSS for your home-page
.home-wrapper {
  background-image: linear-gradient(rgba(216, 191, 216, 0.2), rgba(255, 255, 255, 0.4)), asset-url('fond.jpg');
  height: 57vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;

}

// for desktop
@media (min-width: 992px) {
  .home-wrapper {
    height: 70vh;
    background-position: center;
  }
}

.home-description {
  // background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  z-index: 300;

  h1 {
    color: white;
    font-weight: 700;
  }

  p {
    color: white;
  }
}


.available-cities {
  margin-top: 30px;
  margin-bottom: 10px;

  h1 {
    font-size: 32px;
    color: black;
    margin: 0;
    font-weight: 700;
  }
}

.home-presentation {
  margin: 5px;
  padding: 55px 15px;
}

.home-footer {
  height: 70px;
  width: 100vw;
  background-color: $blue;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  p { margin: 0; }
}
