.ball-monuments {
  height: 25px;
  width: 350px;
  left: 50%;
  margin-left: -175px;
  top: 65%;
  margin-top: -100px;
  position: absolute;
  z-index: 301;
  display: flex;
  justify-content: space-around;
}

.ball-monument {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #9877BE;
  cursor: pointer;
}

.left-arrow {
  background-color: transparent;
  height: 200px;
  width: 30px;
  position: relative;
  z-index: 300;
  top: -88%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    cursor: pointer;
  }
}

.right-arrow {
  background-color: transparent;
  height: 200px;
  width: 30px;
  position: relative;
  z-index: 300;
  top: -203%;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    cursor: pointer;
  }
}
