// For mobile
@media (max-width: 992px) {
  .left-arrow {
    height: 200px;
    top: -88%;
    right: 10%;
  }

  .right-arrow {
    height: 200px;
    top: -203%;
    left: 100%;
  }

  .ball-monuments {
    top: 55%;
    width: 350px;
  }
}

// For Desktop
@media (min-width: 992px) {
  .left-arrow {
    height: 300px;
    top: -78%;
    right: 8%;
  }

  .right-arrow {
    height: 300px;
    top: -187%;
    left: 100%;
  }

  .ball-monuments {
    left: 5%;
    top: 25%;
    width: 400px;
  }
}

.ball-monuments {
  height: 25px;
  max-width: 90vw;
  position: absolute;
  z-index: 301;
  display: flex;
  justify-content: space-around;
}

.ball-monument {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #6F70EE;
  cursor: pointer;
}

.ball-monument-focus {
  background-color: black !important;
}

.left-arrow {
  background-color: transparent;
  width: 30px;
  position: relative;
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    cursor: pointer;
  }
}

.right-arrow {
  background-color: transparent;
  width: 30px;
  position: relative;
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    cursor: pointer;
  }
}

.delete-card {
  position: relative;
  top: -300%;
  right: -100%;
  width: 30px;
  margin: 0;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 700;

  i {
    font-size: 30px;
    color: red;
  }
}
