
#map-final {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

// .fa-chevron-circle-up {
//     font-size: 25px;
//     position: absolute;
//     right: 15px;
//     top: 50%;
//     transform: translate(0, -50%);
// }
//
// .fa-chevron-circle-down {
//     font-size: 25px;
//     position: absolute;
//     right: 15px;
//     top: 15px;
// }

#metrics-distance {
  position: absolute;
  top: 60px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(#6F70EE, 0.21);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  z-index: 700;
  display: flex;
  flex-direction: column;
  display: none;

  .fa-walking {
    display: block;
    padding-right: 5px;
    padding-left: 3px;
    padding-right: 10px;
  }
  .fa-clock {
    display: block;
    padding-right: 5px;
  }

  .time-wraper {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }

  .distance-wraper {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }
}

#export {
    background-color: #36e672;
    color: white;
    z-index: 10000;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    width: 187px;
    border-radius: 40px;
    height: 51px;
  }

// For Mobile
@media (max-width: 992px) {

  #metrics-distance {
  width: 100px;
  padding: 7.5px;
  left: 15px;
}

  .fa-walking {
    display: block;
    padding-right: 5px;
    font-size: 20px;
  }

  .fa-clock {
    display: block;
    padding-right: 5px;
    font-size: 20px;
  }

  .container-minirecap {
    height: 50px;
    width: 350px;
    max-width: 90vw;
    top: 75%;
  }

  #export {
    right: 2vh;
    top: 10vh;
  }
}

// For Desktop
@media (min-width: 992px) {

  #metrics-distance {
    width: 250px;
    padding: 10px;
    left: 50px;
  }

  .fa-walking {
    display: block;
    padding-right: 5px;
    font-size: 25px;
  }

  .fa-clock {
    display: block;
    padding-right: 5px;
    font-size: 25px;
  }

  .container-minirecap {
    height: 50px;
    width: 400px;
    left: 5%;
    top: 30%;
  }

  #export {
    right: 5vh;
    top: 10vh;
  }
}

.container-minirecaps {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}

.container-minirecap {
  visibility: hidden;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(#6F70EE, 0.21);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 601;
  padding: 12px;
  max-width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h5 {
    margin: 0;
    position: absolute;
    top: 15px;
    width: 250px;
    overflow: inherit;
    height: 18px;
  }

  i {
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 5px;
  }
}

#center-perso {
  position: absolute;
  bottom : 35px;
  right: 15px;
  z-index: 600;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #6F70EE;

  i {
    font-size: 30px;
    color: white;
  }
}
