
#map-final {
  position: relative;
  height: calc(100vh - 60px);
  width: 100vw;
  overflow-y: hidden;
}


.fermeture-minirecap {
  position: absolute;
  right: 15px;
}

.fa-chevron-circle-up {
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
}

.fa-chevron-circle-down {
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.container-map {
  height: calc(~"100vh - 150px");
  width: 100vw;
  color: red;
}


.card-recap-final {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(#6F70EE, 0.21);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 300;
  padding: 12px;
  display: none;
}

.sous-card-recap-final {
  position: relative;
}

@media (max-width: 992px) {

  .container-metrics {
    position: relative;
    width: 80vw;
    padding-left: 10px;
  }

  .metrics {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(#6F70EE, 0.21);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 300;
    padding: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    width: 350px;
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin: 0px;
    }
  }

  .card-recap-final {
    height: 200px;
    width: 350px;
    left: 50%;
    margin-left: -175px;
    top: 70%;
    margin-top: -100px;
  }
}

@media (min-width: 992px) {

  .container-metrics {
    position: relative;
    width: 550px;
    padding-left: 15px;
  }
  .metrics {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(#6F70EE, 0.21);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 300;
    padding: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    width: 500px;
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0px;
    }
  }

  .card-recap-final {
    height: 400px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -200px;
  }
}

