// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

#grey-linear {
  background: linear-gradient(180deg, rgba(118, 118, 121, 1), rgba(182, 182, 182, 0.1233), rgba(182, 182, 182, 0.1233), rgba(204, 204, 204, 0));
  height: 200px;
  width: 100vw;
  position: absolute;
  z-index: 200;
  pointer-events: none;
}

#purple-linear {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(145, 21, 242, 0.25));
  height: 150px;
  width: 100vw;
  position: absolute;
  z-index: 200;
  bottom: 0;
  pointer-events: none;
}
