<div class="container-fiche-city">
  <div class="fiche-city">
    <%= image_tag("Lille.jpg") %>
    <h3>Lille </h3>
  </div>
  <div class="fiche-city">
    <%= image_tag("Lille.jpg") %>
    <h3>Lille </h3>
  </div>
  <div class="fiche-city">
    <%= image_tag("Lille.jpg") %>
    <h3>Lille </h3>
  </div>
  <div class="fiche-city">
    <%= image_tag("Lille.jpg") %>
    <h3>Lille </h3>
  </div>
</div>
