<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <%= notice %>

    <script>
      var x = document.querySelector(".alert");
      setTimeout(function(){ x.classList.toggle("show"); }, 1000);
      setTimeout(function(){ x.classList.toggle("show"); }, 5000);
    </script>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <%= alert %>

    <script>
      var x = document.querySelector(".alert");
      setTimeout(function(){ x.classList.toggle("show"); }, 1000);
      setTimeout(function(){ x.classList.toggle("show"); }, 5000);
    </script>
  </div>
<% end %>
