<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 monumen-card">

      <div class="container-card">
        <div class="card">

          <div class="flip-card-3D-wrapper">
            <div id="flip-card">

              <div class="flip-card-front">
                <%= image_tag("wault.jpg", alt: "monument", class: "monument-image", style: "width:100%") %>
                <i class="fas fa-map-marked-alt flip-card-button-turn-to-back"></i>
              </div>

              <div class="flip-card-back">
                <%= image_tag("map.png", alt: "monument", class: "map-image", style: "width:100%", hidden: true) %>
                <i class="fas fa-map-marked-alt flip-card-button-turn-to-front"></i>
              </div>

            </div>
          </div>

          <div class="container-texte">
            <h2 class="fiche-title">Quai du Wault</h2>
            <p>Stars Yelp</p>
            <p>Le quai du Wault est l'un des deux anciens ports de Lille celui de la haute Deûle avec celui de la Basse-Deûle, actuelle avenue du Peuple Belge. Contrairement à celui-ci, ce bassin est toujours en eau. Ces deux anciens ports qui étaient situés à l'intérieur des enceintes fortifiées font partie du vieux-Lille.e</p>
            <h3>Horaires d'ouverture</h3>
            <p>8H 00h</p>
            <h3>Avis</h3>
            <p>Super j'ai adoré</p>
            <p>magnifiik surtout quand il fait beau</p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>



