
<div id='map'></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiaGVucmk0NSIsImEiOiJjam51aG84ZDUwNXI3M3Z1cXZ2Y3A4Z2ZkIn0.UrT2niwRD2FPV2pxBl-HuQ';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([40, -74.50], 9);
</script>
