  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-2 col-xs-offset-3 col-sm-offset-5">
        <a class="btn btn-block btn-walk-sm" href="#" role="button">Link petit</a>
      </div>
    </div>
  </div>
