<div class="display-container">
  <div class="container">
    <div class="row">
      <% @itineraires_perso.each do |itineraire| %>
      <% path = itinary_path(itineraire.id) if itineraire.compteur >2 %>
      <% path = choice_path(itineraire.id) if itineraire.compteur < 3 %>
      <div class="col-xs-12 col-md-6">
        <div class="fiche-city-wrapper">


        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
