<h1>RECAP</h1>
<ul>
  <% @selected.each do |monument|%>
    <li><%= monument %></li>
  <% end %>
</ul>

<%= link_to itinary_path(@itineraire) do %>
  <%= render "shared/button", calltoaction: "Mon itinéraire" %>
<% end  %>




