<% content_for :title, "Seety - Itinéraire Final" %>

<div id='map-final'>

<% @monuments.each do |monument| %>

<div class="card-recap-final" id="id-<%=monument.id%>">
  <div class="flex-card-recap-final">
    <div class="monument-image-div">
      <%= cl_image_tag(monument.photo, class: "monument-image-new") %>
    </div>
    <h2 class="monument-name"><%=monument.name %></h2>
    <i class="fas fa-chevron-circle-down"></i>
  </div>
</div>

<%end%>




<% content_for(:js) do %>
  <% javascript_pack_tag 'itinary-mapbox-direction' %>
<% end %>
