.cards {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}

// For mobile
@media (max-width: 992px) {
  .card {
    height: 150px;
    width: 350px;
    max-width: 90vw;
    top: 54%;
  }

  .monument-image-div {
    height: 125px;
    width: 140px;
  }

  .monument-name {
    font-size: 16px;
    left: 165px;
    width: 130px;
  }

  .card-infos {
    p {
      font-size: 15px;
      color: #424272;
    }
  }

  .card-stars {
    left: 168px;
    top: 15%;
  }
}

// For Desktop
@media (min-width: 992px) {
  .card {
    height: 250px;
    width: 400px;
    left: 5%;
    top: 30%;
  }

  .monument-image-div {
    height: 200px;
    width: 200px;
  }

  .monument-name {
    font-size: 25px;
    left: 55%;
    width: 180px;
  }

  .card-infos {
    p {
      font-size: 20px;
      color: #424272;
    }
  }

  .card-stars {
    left: 223px;
    top: 11%;
  }
}

.card {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(#6F70EE, 0.21);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 300;
  padding: 12px;
  max-width: 90vw;
}

.monument-image-div {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  img {
    max-height: 100%;
  }
}

.monument-name {
  margin: 0;
  padding-left: 5px;
  color: rgba(66, 66, 114, 1);
  position: absolute;
  top: 45px;
  overflow-wrap: break-word
}

.card-stars {
  position: absolute;
}

// .card-stars-info {
//   padding-top: 21px;
// }

// .card-stars-info i {
//   background: -webkit-gradient(linear, left top, left bottom, from(#7c5df1), to(#9c0ae1));
//   -webkit-text-fill-color: transparent;
//   display: initial;
// }

.card-stars i {
    background: -webkit-gradient(linear, left top, left bottom, from(#7c5df1), to(#9c0ae1));    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  }


.card-infos {
  position: absolute;
  bottom: 15%;
  left: 85%;
  cursor: pointer;

  i {
    font-size: 25px;
    margin: 0;
    color: #424272;
  }
}

/////// FOCUS \\\\\\\\\\

// For mobile
@media (max-width: 992px) {
  .card-info {
    height: 450px;
    width: 350px;
    max-width: 90vw;
    top: 10%;

  }

  .monument-image-div-info {
    height: 300px;
    width: 100%;
  }

  .monument-name-info {
    margin: 20px 0;
    font-size: 16px;
    left: 10px;
    top: 80%;
  }

  .card-infos {
    p {
      font-size: 15px;
      color: #424272
    }
  }

  .description-info {
    top: 105%;
  }

  .card-stars-info {
    top: 75%;
    left: 10px;
  }

  .info-supp {
    top: 90%;
    left: 10px;
  }

  .delete-card-info {
    top: 72%;
  }
}

// For Desktop
@media (min-width: 992px) {
  .card-info {
    height: 350px;
    width: 500px;
    left: 5%;
    top: 30%;
  }

  .monument-image-div-info {
    height: 250px;
    width: 100%;
  }

  .monument-name-info {
    font-size: 25px;
    top: 85%;
  }

  .card-infos {
    p {
      font-size: 20px;
      color: #424272;
    }
  }

  .card-stars-info {
    top: 80%;
    left: 3%;
  }

  .info-supp {
    top: 105%;
  }

  .description-info {
    top: 125%;
  }

  .delete-card-info {
    top: 76%;
  }
}

.card-info {
  padding-left: 17px;
  padding-right: 17px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(#6F70EE, 0.21);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  position: absolute;
  max-width: 90vw;
  overflow-y: scroll;
}

.monument-image-div-info {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  img {
    max-height: 100%;
  }
}

.monument-name-info {
  margin: 0;
  color: rgba(66, 66, 114, 1);
  position: absolute;
  padding-top: 7px
}

.card-stars-info {
  position: absolute;
}

.description-info {
  position: absolute;
  margin-bottom: 30px;
  padding-right: 17px;


  h3 {
    margin: 20px 0 !important; // To override semantic ui
    color: rgba(66, 66, 114, 1);
  }

  p {
    margin: 0;
    color: #424272;
  }
}

.info-supp {
  position: absolute;

  h3, h4 {
    margin: 15px 0;
    color: #424272;
  }

  h3 {
    font-size: 16px;
    font-style: italic;
    color: #424272;
  }

  h4 {
    font-size: 18px;
    color: #424272;
  }
}

.delete-card-info {
  position: absolute;
  right: 5%;
  cursor: pointer;

  img {
    font-size: 25px;
    margin: 0;
    color: #424272;
  }
}
