.container-fiche-city {
    display: flex;
    width: 100vw;
    overflow-y: scroll;
    padding: 10px;
  }


.link-fiche-city:hover {
  text-decoration: none;
}

// Extra small devices (576px and down)
.fiche-city {
  margin-right: 10px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: all 0.5s ease;
  position: relative;

  img {
    width: 45vw;

    border-radius: 10px;
    object-fit: cover;
  }

  .city-description {
    transition: all 0.2s ease;
    padding: 10px 8px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  h3 {
    color: white;
    font-weight: 700;
    margin: 0;
    font-size: $h2-font-size;
  }
}

//mobile
@media (max-width: 992px) {
  .fiche-city {
    width: 30vw;
    height: 123px;

    img {
      height: 123px;
      width: 30vw;
    }
  }
}

//desktop
@media (min-width: 992px) {
  .fiche-city {
    width: 20vw;
    height: 230px;


    img {
      width: 20vw;
      height: 230px;
    }
  }
}

