@media screen and (max-width: 550px) {
  .container-fiche-city {
    display: flex;
    width: 100vw;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fiche-city {
    width: 45vw;
    height: 30vh;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 20px;
    background-color: $blue;
    box-shadow: 2px 2px 2px 1px rgb(200,200,200);
    img {
      width: 45vw;
      height: 23vh;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      object-fit: cover;
    }
    h3 {
      color: white;
      font-weight: normal;
      margin-left: 10px;
      margin-right: 10px;
      margin: 8px;

    }
  }
}

@media screen and (min-width: 551px) {
    .container-fiche-city {
    display: flex;
    width: 100vw;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fiche-city {
    width: 30vw;
    height: 35vh;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 20px;
    background-color: $blue;
    box-shadow: 2px 2px 2px 1px rgb(200,200,200);
    img {
      width: 30vw;
      height: 28vh;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      object-fit: cover;
    }
    h3 {
      color: white;
      font-weight: normal;
      margin-left: 10px;
      margin-right: 10px;
      margin: 13px;
      font-size: 20px;

    }
  }
}

