.sign-wrapper {
  background-image: asset-url("carte.png");
  background-size: cover;
  background-position: center;

  height: 100vh;
  display: flex;
  align-items: center;
  opacity: 0.3;
}

.form-actions {
margin-top: 10px;
display: flex;
justify-content: space-around;
}

.form-control {
  background-color: rgba(192,192,192, 0.3)
}

// For Mobile
@media (max-width: 768px) {
  .sign-form {
    background-color: rgba(255,255,255,0.95);
    padding: 20px 30px;
    margin-top: 20px;
    z-index: 230;
    border-radius: 10px;
  }

  .bouton-seety {
  background: linear-gradient(90deg, #7c5df1, #9c0ae1);
  width: 150px;
  height: 50px;
  border-radius: 40px;
  color: white;

  }

}

// For Desktop
@media (min-width: 768px) {
  .sign-form {
    background-color: rgba(255,255,255,0.95);
    padding: 20px 50px;
    margin-top: 20px;
    z-index: 230;
    border-radius: 10px;
  }

  .form-action {
    height: 50px;
  }

  .bouton-seety {
  background: linear-gradient(90deg, #7c5df1, #9c0ae1);
  width: 150px;
  height: 50px;
  border-radius: 40px;
  color: white;

  }
}

.form-other-link {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
    text-align: center;
  }
}

.other-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  a {
    margin: 10px 0;
    color: $gray;
    font-weight: 700;
    transform: none;
    transition: transform 0.2s ease;

    &:hover {
      text-decoration: none;
      transform: scale(1.1);
      transition: transform 0.2s ease;
    }
  }
}

.sign-form h2 {
  margin-top: 0;
}

input[type="checkbox"] {
  margin: 4px 4px 0 0;
}

.bouton-seety {
  background: linear-gradient(90deg, #7c5df1, #9c0ae1);
  width: 150px;
  height: 50px;
  border-radius: 40px;
  color: white;

}
