.container-texte {
  overflow-x: scroll;
  height: 32vh;
  padding-left: 10px;
  padding-right:10px;
}

.container-card {
  position: relative;
}

.monumen-card {
  padding-right: 5px;
  padding-left: 5px;
}

.card {
  margin-top: 2px;
  position: relative;
  box-shadow: 10px;
  height: 70vh;
  border-radius: 5px;
  background-color: white;
  color: black;
  -webkit-box-shadow: 0 10px 6px -6px $gray;
  -moz-box-shadow: 0 10px 6px -6px $gray;
  box-shadow: 0 10px 6px -6px $gray;
}

.monument-image {
  height: 30vh;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fiche-title {
  margin-top: 10px;
  font-size: 25px;
}
p {
  font-size: 14px;
}
h3 {
  font-size: 20px;
}

 .fa-map-marked-alt {
    position: absolute;
    right: 10px;
    top: calc(30vh - 50px);
    font-size: 35px;
    color: white;
  }


// .flip-card-3D-wrapper {
//   -o-perspective: 900px;
//   -webkit-perspective: 900px;
//   -ms-perspective: 900px;
//   perspective: 900px;
//   position: relative;
// }

// #flip-card {
//   position: absolute;
//   -o-transition: all 1s ease-in-out;
//   -webkit-transition: all 1s ease-in-out;
//   -ms-transition: all 1s ease-in-out;
//   transition: all 1s ease-in-out;
//   -o-transform-style: preserve-3d;
//   -webkit-transform-style: preserve-3d;
//   -ms-transform-style: preserve-3d;
//   transform-style: preserve-3d;
// }

// .do-flip {
//   -o-transform: rotateY(-180deg);
//   -webkit-transform: rotateY(-180deg);
//   -ms-transform: rotateY(-180deg);
//   transform: rotateY(-180deg);
// }

// #flip-card .flip-card-front, #flip-card .flip-card-back {
//   -o-backface-visibility: hidden;
//   -webkit-backface-visibility: hidden;
//   -ms-backface-visibility: hidden;
//   backface-visibility: hidden;
// }

// #flip-card .flip-card-back {
//     -o-transform: rotateY(180deg);
//     -webkit-transform: rotateY(180deg);
//     -ms-transform: rotateY(180deg);
//     transform: rotateY(180deg);
// }
