.container-texte {
  overflow-x: scroll;
  height: 37vh;
  padding-left: 10px;
  padding-right:10px;
  position: absolute;
  top: calc(30vh + 3px);
}

// .container-card {
//   position: relative;
//   height: 70vh;

// }

.monument-card {
  padding-right: 5px;
  padding-left: 5px;
  // height: 70vh;

  //design du border
  margin-top: 2px;
  position: relative;
  box-shadow: 10px;
  height: 70vh;
  border-radius: 5px;
  background-color: white;
  color: black;
  -webkit-box-shadow: 0 10px 6px -6px $gray;
  -moz-box-shadow: 0 10px 6px -6px $gray;
  box-shadow: 0 10px 6px -6px $gray;

  //défini la position pour le bouton

}

// .card {
//   margin-top: 2px;
//   position: relative;
//   box-shadow: 10px;
//   height: 70vh;
//   border-radius: 5px;
//   background-color: white;
//   color: black;
//   -webkit-box-shadow: 0 10px 6px -6px $gray;
//   -moz-box-shadow: 0 10px 6px -6px $gray;
//   box-shadow: 0 10px 6px -6px $gray;
// }

.container-texte h2 {
 margin-top: 10px;
  font-size: 25px;
}

.container-texte p {
  font-size: 14px;
}

.container-texte h3 {
  font-size: 20px;
}

 .fa-map-marked-alt {
    position: absolute;
    right: 10px;
    top: calc(30vh - 50px);
    font-size: 35px;
    color: white
  }

   .fa-image {
    position: absolute;
    right: 10px;
    top: calc(30vh - 50px);
    font-size: 35px;
    color: $gray;
  }

  .map-image {
    width:100%;
    height: 30vh;

  }

  .monument-image {
  visibility: visible;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width:100%;
  height: 30vh;
}


  .flip-card-3D-wrapper {
    position: relative;
    perspective: 600px;
  }

  #flip-card {
    position: relative;

  }

  #flip-card-front {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;


    position: absolute;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
  }

  #flip-card-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    transform: rotateY(-179deg);
    -webkit-transform: rotateY(-179deg);

    position: absolute;
    transform-style: preserve-3d;
    webkit-transform-style: preserve-3d;

    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
  }

  #flip-card.do-flip #flip-card-front {
    transform: rotateY(179deg);
    -webkit-transform: rotateY(179deg);

    transition: all .6s ease-in-out;
  }

   #flip-card.do-flip #flip-card-back {
    transform: rotateY(0deg);
    transition: all .6s ease-in-out;
  }











