.btn.btn-walk-lg {
  background-color: $gray !important;
  border-color: $gray !important;
  border-radius: 2.5px !important;
  color: white !important;
  font-style: $body-font !important;
}

.btn.btn-walk-lg:hover {
opacity: 0.9;
}
