#map {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100vw;
}

.marker-app {
  mask-image: asset-url("map-marker-alt-solid.svg");
  background-color: #424272;
  mask-size: cover;
  width: 30px;
  height: 40px;
  cursor: pointer;
  z-index: 500;
}

.marker-focus {
  mask-image: asset-url("map-marker-alt-solid.svg");
  background-color: #6F70EE;
  mask-size: cover;
  width: 40px;
  height: 53px;
  cursor: pointer;
  z-index: 501;
}

.marker-perso {
  background-color: white;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 502;
  border-radius: 50%;
  border: 5px solid #6F70EE;
}

.marker-point-depart {
  mask-image: asset-url("home-solid.svg");
  background-color: #6F70EE;
  mask-size: cover;
  width: 38px;
  height: 34px;
  cursor: pointer;
  z-index: 501;
}
