.navbar-walk {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
}


// For Desktop
@media (min-width: 992px) {

  .circle-navbar-desktop {
    background-color: rgba(111, 112, 238, 0.6);
    position: relative;
    transition: all 0.5s ease;
    height: 400px;
    width: 400px;
    top: -150px;
    border-radius: 50%;
  }

  .navbar-walk-desktop {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0;
    position: absolute;
    top: 314px;
    padding: 12px 24px;
  }
}

// For mobile
@media (max-width: 992px) {
  .circle-navbar-mobile {
    background-color: rgba(111, 112, 238, 0.6);
    position: relative;
    transition: all 0.5s ease;
    height: 200px;
    width: 200px;
    top: -75px;
    border-radius: 50%;
  }

  .navbar-walk-mobile {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    position: absolute;
    top: 145px;
    transition: all 0.5s ease;
  }
}

.navbar-link .link-navbar {
  color: white;
  padding: 6px 12px;
  font-size: 18px;
}

.drop-menu-mobile i {
  font-size: 24px;
  color: white;
  transition: all 0.5s ease;
}

.drop-menu-desktop i {
  font-size: 24px;
  color: white;
  transition: all 0.5s ease;
}

.drop-menu-close-mobile {
  display: none;
  justify-content: center;
  transition: all 0.5s ease;

  i {
    font-size: 24px;
    color: white;
    position: inherit;
  }
}

.drop-menu-close-desktop {
  display: none;
  justify-content: center;
  transition: all 0.5s ease;

  i {
    font-size: 24px;
    color: white;
    position: inherit;
  }
}

.mobile-links {
  display: none;
  height: 73%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease;
}

.desktop-links {
  display: none;
  height: 73%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease;
}













