.btn.btn-walk-sm {
  background-color: $gray !important;
  border-color: $gray !important;
  border-radius: 2.5px !important;
  color: white !important;
  margin-top: 10px !important;
}

.btn.btn-walk-sm:hover {
opacity: 0.9;
}
