<h1>Composants :</h1>
<%= render "/shared/searchbar" %>





<div class="container">
  <div class="p-holder" style="background-color: $light-gray: padding: 30px 50px;">
    <h1>Test H1</h1>

    <h2>Test H2</h2>

    <h3>Test H3</h3>

    <h4>Test H4</h4>

    <p>Test Paragraphe</p>
  </div>
</div>


<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
